/* menuページのスタイル */
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% - 238px - 20px);
}
.flex_bar {
  display: flex;
  align-items: center;
  text-align: center;
} 

/* === トップバー === */
.top_bar_container {
  display: flex;
  gap: 10px;
  height: 80px;
  font-size: 16px;
  font-weight: var(--font-bold);  

}
/* トップボタン */
.top_btn {
  background-color: var(--secondary-bg-white);
  justify-content: center;
  gap: 5px;
  width: 104px;
  height: 100%;
  font-size: 24px;
  font-weight: var(--font-bold);
  border: 1px solid var(--main-line-color);
  border-radius: 15px;
}
.top_icon {
  width: 40px;
  border-radius: 50%;
}
.top_icon img {
  border-radius: 50%;
}

/* メインカテゴリ */
.main_category_bar {
  width: 848px;
  height: 100%;
  border: 1px solid var(--main-line-color);
  border-radius: 15px;
  overflow: hidden;
}
.main_category {
  background-color: var(--secondary-bg-white);
  position: relative;
  width: calc(100% / 7);
  height: 100%;
  border-right: 1px solid var(--main-line-color);
}
.main_category:last-child {
  border-right: none;
}

.one_category_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.two_categories_btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  border-right: 1px solid var(--main-font-color);
  transform: rotate(65deg);
}
.two_categories_btn
.first_txt {
  position: absolute;
  top: 10px;
  left: 10px;
}
.two_categories_btn
.second_txt {
  position: absolute;
  bottom: 10px;
  right: 10px;
}


/* メインカテゴリを押された時のデザイン(仮) */
#recommended {
  background-color: var(--secondary-bg-orange);
  color: var(--secondary-font-white);
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#recommended .two_categories_btn::after {
  border-right: 1px solid var(--secondary-font-white);
} 


/* === メインコンテナ === */
.main_container {
  background-color: #999;
  width: 100%;
  height: 582px;
  border: 1px solid var(--main-line-color);
  border-radius: 15px;
  overflow: hidden;
}

/* サブカテゴリ */
.sub_category_bar {
  width: 100%;
  height: 60px;
}
.sub_category {
  background-color: var(--secondary-bg-white);
  position: relative;
  width: calc(100% / 9);
  height: 100%;
  border-right: 1px solid var(--main-line-color);
}
.sub_category_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: var(--font-bold);
}
.sub_category:last-child {
  border-right: none;
}


.menu_box {
  /* column-count: 2; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.menu_content_btn {
  width: 220px;
  height: 220px;
}