/* サイドバーのスタイル */

.container {
  /* background-color: #999; */
  position: fixed;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 238px;
  height: 740px;
  text-align: center;
}
.h_50 {
  height: 50px;
}
.h_65 {
  height: 65px;
}
.round {
  border-radius: 20px;
}


.page_btn,
.popup_btn {
  font-size: 24px;
  font-weight: 500;
}
.list_btn,
.history_btn,
.call_btn {
  background-color: #FFB35D;
  box-shadow: 0 5px 3px #D97847;
}
.order_btn {
  background-color: #FF6565;
  box-shadow: 0 5px 3px #AE4747;
}
.checkout_btn {
  background-color: #FFE225;
  box-shadow: 0 5px 3px #E8AD0E;
}

.icon_flex_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 100%;
  padding: 5px 35px;
}
.icon_img {
  width: 40px;
}

.language_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 135px;
  padding: 0 10px;
}
.language_box .icon_flex_btn {
  gap: 30px;
  justify-content: left;
}
.language_box button {
  height: 40px;
  border-bottom: 1px solid #2E2E2E;
}
.language_box img {
  width: 40px;
}
.langage_txt {
  color: #666666;
}
.ja_txt {
  color: #2E2E2E;
  font-weight: bold;
}

.order_list_box {
  background-color: #FFF9F9;
  width: 100%;
  height: 265px;
  padding: 5px 15px;
  font-size: 20px;
  text-align: left;
  border: 1px solid #BCAAA4;
  overflow: scroll;
}
.order_separator {
  border-bottom: 2px solid #BCAAA4;
  border-radius: 0;
}
.order_menu_txt,
.order_option_txt {
  min-height: 50px;
  padding: 15px 3px;
  border-bottom: 3px dotted #BCAAA4;
}
.order_menu_txt:last-child,
.order_option_txt:last-child {
  border-bottom: none;
}
.order_menu_txt {
  display: flex;
  align-items: center;
}
.order_menu_txt::after {
  content: '1';
  padding: 0 10px;
  font-weight: bold;
}
.order_option_txt {
  padding-left: 20px;
}
.order_option_txt::before {
  content: ": ";
}