/* 共通設定 */

:root {
  /* ===== カラー ===== */
  --main-bg-color: #FFF2E2;
  --secondary-bg-white: #FFF9F9;
  --secondary-bg-gray: #CACACA;
  --secondary-bg-soft-orange: #FFB35D;
  --secondary-bg-orange: #F57C00;
  --secondary-bg-red: #FF6565;
  --secondary-bg-yellow: #FFE225;

  --shadow-soft-orange: #D97847;
  --shadow-orange: #C35A25;
  --shadow-red: #AE4747;
  --shadow-yellow: #E8AD0E;

  --main-font-color: #2E2E2E;
  --secondary-font-color: #666666;

  --main-line-color: #BCAAA4;


  /* ===== フォントの太さ ===== */
  --font-bold: 700;
  --font-midium: 500;
  --font-regular: 400;
}




/* ===== 共通スタイル ===== */
body {
  background-color: var(--main-bg-color);
  font-family: "Zen Maru Gothic", sans-serif;
  color: #2E2E2E;
}

main {
  margin: 30px 30px;
}

img {
  width: 100%;
  height: auto;
}