/* topページのスタイル */

.container {
  background-color: #999;
  width: calc(100% - 238px - 20px);
  font-size: 35px;
  font-weight: var(--font-bold);
}
.container,
.left_container,
.right_container {
  display: flex;
  gap: 20px;
}
.left_container,
.right_container {
  flex-direction: column;
  width: 50%;
}
.upper_right_container,
.lower_right_container {
  display: flex;
  gap: 20px;
}
.upper_right_container {
  flex-direction: column;
}

.left_container .link_btn,
.lower_right_container .link_btn {
  height: 360px;
}
.upper_right_container .link_btn {
  height: 170px;
}
.lower_right_container .link_btn {
  width: calc(100% / 3);
}

.link_btn {
  position: relative;
  background-color: var(--secondary-bg-gray);
  text-align: center;
  border-radius: 20px;
}
.link_btn a {
  display: block;
  width: 100%;
  height: 100%;
  /* padding: calc((50% - 35px) / 2); */
}
.btn_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.btn_txt img {
  width: 45%;
  padding: 15px 0;
}
.padding_btm {
  display: block;
  padding-bottom: 35px;
}