/* topページのスタイル */

.container {
  background-color: #999;
  width: calc(100% - 238px);
  font-size: 35px;
  font-weight: bold;
}
.container,
.left_container,
.right_container {
  display: flex;
  gap: 20px;
}
.left_container,
.right_container {
  flex-direction: column;
  width: 50%;
}
.upper_right_container,
.lower_right_container {
  display: flex;
  gap: 20px;
}
.upper_right_container {
  flex-direction: column;
}

.left_container .link_btn,
.lower_right_container .link_btn {
  height: 360px;
}
.upper_right_container .link_btn {
  height: 170px;
}
.lower_right_container .link_btn {
  width: calc(100% / 3);
}

.link_btn {
  background-color: var(--secondary-bg-gray);
  /* padding: 20% 0; */
  text-align: center;
}