/* 注文リストのスタイル */
.table_container {
    width: 100%;
    height: 445px;
    border: solid 1px var(--main-line-color);
    overflow: auto;
}
table {
    width: 100%;
    font-size: 24px;
}
thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
tbody {
    background-color: var(--secondary-bg-white);
}
th,td {
    height: 60px;
    padding: 5px 20px;
    vertical-align: middle;
    border: solid 1px var(--main-line-color);
}
th {
    background-color: var(--secondary-bg-orange);
    color: var(--secondary-font-white);
}
.name_header {
    width: 560px;
}
.price_header,
.quantity_header {
    width: 180px;
    text-align: center;
}

.option_item .plus_btn {
    display: none;
}
.price {
    text-align: center;
}
.price::after {
    content: " 円";
}

.option_name::before {
    content: "：";
    padding-left: 20px;
}
.confirm_btn {
    background-color: var(--secondary-bg-red);
    width: 156px;
}
