/* 注文リストのスタイル */
.list_details_container {
    /* display: none; */
    z-index: 9;
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.list_details {
    background-color: var(--main-bg-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    padding: 20px 20px;
    text-align: left;
    border-radius: 20px;
}
.header_container,
.footer_container {
    display: flex;
    justify-content: space-between;
}
.header_container {
    margin-bottom: 10px;
}
.footer_container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
}
.x_btn {
    /* 仮 */
    font-size: 35px;
}

h2 {
    font-size: 35px;
    font-weight: var(--font-midium);
}

.table_container {
    width: 100%;
    height: 445px;
    border: solid 1px var(--main-line-color);
    overflow: auto;
}
table {
    width: 100%;
    font-size: 24px;
}
thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
th,td {
    height: 60px;
    border: solid 1px var(--main-line-color);
}
th {
    background-color: var(--secondary-bg-orange);
    color: var(--secondary-font-white);
}
td {
    position: relative;
}
.name_header {
    width: 560px;
}
.price_header,
.quantity_header {
    width: 180px;
}

/* .price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 */
.option_name::before {
    content: "：";
    padding-left: 30px;
}
.quantity_adjust_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.minus_btn,
.plus_btn {
    background-color: var(--secondary-bg-soft-orange);
    width: 40px;
    height: 40px;
}
.quantity {
    font-size: 35px;
    font-weight: var(--font-bold);
}

.total_price_box {
    /* position: absolute;
    bottom: 30px;
    left: 20px; */
    display: flex;
    font-size: 35px;
}
.confirm_btn {
    /* position: absolute;
    bottom: 25px;
    right: 20px; */
    background-color: var(--secondary-bg-red);
    width: 156px;
    height: 45px;
    text-align: center;
    font-size: 24px;
    font-weight: var(--font-midium);
    border-radius: 20px;
}
