/* メニュー詳細ポップアップのスタイル */
/* 表示テスト用 */
#menuDetails {
    display: none;
}
.popup_title {
    min-width: 400px;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--main-font-color);
}

.center_container {
    display: flex;
    justify-content: space-between;
    width: 960px;
    height: 428px;
}
.photo_container,
.option_container {
    height: 100%;
    border: 1px solid var(--main-line-color);
    border-radius: 10px;
    overflow: hidden;
}
.photo_container {
    width: 400px;
}
.menu_photo {
    object-fit: cover;
    height: calc(100% - 90px);
}
.allergy_contents {
    background-color: var(--secondary-bg-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.option_container {
    background-color: var(--secondary-bg-white);
    width: 511px;
    padding: 5px 20px;
    font-size: 20px;
    overflow: scroll;
}
.option_content {
    min-height: 100px;
    padding: 10px 10px;
    border-bottom: 1px solid var(--main-line-color);
}
.option_content:last-child {
    border-bottom: none;
}
.option_btn_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px 0 15px 50px;
}
.option_btn {
    background-color: var(--secondary-bg-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 35px;
    padding: 5px 5px;
    border-radius: 10px;
}
/* 選択時のスタイル */
.active_option {
    background-color: var(--secondary-bg-yellow);
}
.option_price {
    padding-top: 10px;
    font-size: 15px;
}

.btn_container {
    display: flex;
    gap: 30px;
}
.quantity_adjust_box {
    padding-left: 0;
}
.add_btn {
    background-color: var(--secondary-bg-orange);
    width: 120px;
    color: var(--secondary-font-white);
}
