/* サイドバーのスタイル */

.side_bar_container {
  position: fixed;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 238px;
  height: 740px;
  text-align: center;
}
.h_50 {
  height: 50px;
}
.h_65 {
  height: 65px;
}
.round {
  border-radius: 20px;
}


.page_btn,
.popup_btn {
  font-size: 24px;
  font-weight: var(--font-midium);
}
.list_btn,
.history_btn,
.call_btn {
  background-color: var(--secondary-bg-soft-orange);
  box-shadow: 0 5px 3px var(--shadow-soft-orange);
}
.order_btn {
  background-color: var(--secondary-bg-red);
  box-shadow: 0 5px 3px var(--shadow-red);
}
.checkout_btn {
  background-color: var(--secondary-bg-yellow);
  box-shadow: 0 5px 3px var(--shadow-yellow);
}

.icon_flex_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 100%;
  padding: 5px 35px;
}
.icon_img {
  width: 40px;
}

.language_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 135px;
  padding: 0 10px;
}
.language_box .icon_flex_btn {
  gap: 30px;
  justify-content: left;
}
.language_box button {
  height: 40px;
  border-bottom: 1px solid var(--main-font-color);
}
.language_box img {
  width: 40px;
}
.langage_txt {
  color: #666666;
}
.ja_txt {
  color: var(--main-font-color);
  font-weight: var(--font-bold);
}

.order_list_box {
  background-color: var(--secondary-bg-white);
  width: 100%;
  height: 265px;
  padding: 5px 15px;
  font-size: 20px;
  text-align: left;
  border: 1px solid var(--main-line-color);
  overflow: scroll;
}
.order_separator {
  border-bottom: 2px solid var(--main-line-color);
  border-radius: 0;
}
.order_menu_txt,
.order_option_txt {
  min-height: 50px;
  padding: 15px 3px;
  border-bottom: 3px dotted var(--main-line-color);
}
.order_menu_txt:last-child,
.order_option_txt:last-child {
  border-bottom: none;
}
.order_menu_txt {
  display: flex;
  align-items: center;
}
.order_menu_txt::after {
  content: '1';
  padding: 0 10px;
  font-weight: var(--font-bold);
}
.order_option_txt {
  padding-left: 20px;
}
.order_option_txt::before {
  content: ": ";
}
