/* 共通設定 */

:root {
  /* ボタンや背景の色 */
  --main-bg-color: #FFF2E2;
  --secondary-bg-white: #FFF9F9;
  --secondary-bg-gray: #CACACA;
  --secondary-bg-soft-orange: #FFB35D;
  --secondary-bg-orange: #F57C00;
  --secondary-bg-red: #FF6565;
  --secondary-bg-yellow: #FFE225;

  /* 影の色 */
  --shadow-soft-orange: #D97847;
  --shadow-orange: #C35A25;
  --shadow-red: #AE4747;
  --shadow-yellow: #E8AD0E;

  /* フォントの色（名前変更したい） */
  --main-font-color: #2E2E2E;
  --secondary-font-color: #666666;
  --secondary-font-white: #FFF9F9;

  /* 線の色 */
  --main-line-color: #BCAAA4;

  /* フォントの太さ */
  --font-bold: 700;
  --font-midium: 500;
  --font-regular: 400;
}




/* ===== 共通スタイル ===== */
body {
  background-color: var(--main-bg-color);
  font-family: "Zen Maru Gothic", sans-serif;
  color: #2E2E2E;
}

main {
  margin: 30px 30px;
}

img {
  width: 100%;
  height: auto;
}


/* ポップアップの共通設定 */
.popup_container {
    display: none;
    z-index: 9;
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.popup_contents {
    background-color: var(--main-bg-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    padding: 20px 20px;
    text-align: left;
    border-radius: 20px;
}
